body {
  background-color: rgb(233,235,238);
  font-family: 'Open Sans', sans-serif;
}
#sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
}
h1{
  color:rgb(59,89,152);
  font-family: 'Roboto', sans-serif;
}

h2{
  color:rgb(54,112,207);
  font-size:20px;
  font-family: 'Roboto', sans-serif;
}
h3{
  color:rgb(54,112,207);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
img{
  border-radius:20px;
  box-shadow: 0px 0px 1px 1px #99968f ;
}
#pp img{
  border-radius: 50%;
}
#pp img:hover{
  border-radius: 50%;
  box-shadow: 0px 0px 3px;

}
a{
  color:#660000;
}

a:hover{
  color:#330000;
}

.card{
  background: #F2F2F2;
 text-align: center;
 vertical-align: middle;
 border-radius: 2px;
 padding: 30px;
 margin: 4%;
 width: 90%;
 align:center;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) ;
}
.card > ul > li{
  list-style:none;
  display:inline;
}

.container{
  width: 45%;
  margin: auto;
  margin-top: 0px;
  align: center;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(233,235,238);
    position:fixed;
}

#navbar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#navbar li a.active {
    background-color: #4CAF50;
    color: white;
}

#navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

